@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section fleet
{
    <title>Fleet</title>
}

<div>
   <p style="text-align:center; font-size:40px">
       <font style="background-color:#e4dcdc">Fleets we have in our Show Room</font>
       <br />
  </p>
    <div style="background-color:#fff">
        <img src="~/images/car1.jpeg"/>
        <img src="~/images/car4.jpg" style="margin-left:145px"/>
        <img src="~/images/car3.jpeg"/>
        <img src="~/images/car2.jpeg" style="margin-left:145px"/>
        <img src="~/images/car6.jpg"/>
        <img src="~/images/car9.jpg" style="margin-left:145px"/>
        <img src="~/images/car7.jpeg"/>
        <img src="~/images/car8.jpeg" style="margin-left:145px"/>
    </div>
</div>
`   