@model Fleet_Rentals.Models.SignUp

<head>
    <title>
        Update
    </title>



<h2>Update</h2>

<form action="/RecordView/updateConfirm/@Model.Id" method="post">
@*@{Html.BeginForm("updateConfirm", "RecordView", FormMethod.Post);}*@

    Business Email: <input type="text" value="@Model.Business_Email" name="email"/>
    Full Name: <input type="text" value="@Model.Full_Name" name="name"/>
    Username: <input type="text" value="@Model.Username" name="username"/>
    Password: <input type="password" value="@Model.Password" name="password"/>

    <input type="submit" value="Add Student"/>

@*@{Html.EndForm();}*@
</form>