@model List<Fleet_Rentals.Models.FLEET>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section res
{
    <title>Reservations</title>

    <script>

        $(document).ready(function ()
        {
            $('#s2').click(function ()
            {
                var attr = $('#s1').val();
            
                $.getJSON("/Reservations/CheckAttr?attrb=" + attr, function (data)
                    {
                        $.each(data, function (i, item) {
                            $("#rows").append('<tr><td>' + item.Id + '</td><td>' + item.Name + '</td><td>' + item.Model + '</td><td>' + item.Status + '</td></tr>');
                           
                        });
                    });
            });

        });
    </script>

}


<b>Search on Basis of Status(Availalbe/Booked)</b>
<input type="text" id="s1" style="margin-top:20px"/>
        
        <input type="button" id="s2" value="SEARCH"/><br /><br /><br />

<div>

<table id="rows" border="1" style="width:560px; margin-left:380px; font-family:'Agency FB';font-size:21px">
    <tr style="color:#f00">
        <td>ID</td>
        <td>Name</td>
        <td>Model</td>
        <td>Status</td>
    </tr>
</table>

<h1>How to Reserve:</h1>
    <p>
1. The act or an instance of reserving <br />
2. Something reserved, esp hotel accommodation, a seat on an aeroplane, in a theatre, etc<br />
3. (often plural) a stated or unstated qualification of opinion that prevents one's wholehearted acceptance of a proposal, claim, statement, etc<br />
4. (Government, Politics & Diplomacy) an area of land set aside, esp (in the US) for American Indian peoples<br />
5. (Automotive Engineering) Brit the strip of land between the two carriageways of a dual carriageway<br />
6. The act or process of keeping back, esp for oneself; withholding<br />
7. (Law) law a right or interest retained by the grantor in property granted, conveyed, leased, etc, to another: a reservation of rent.
    </p>
    
   <p style="text-align:center"> 
       <br /><br /><br />
       <b>WE AIM TO PROVIDE YOU WITH BEST SERVICES</b>

   </p>

</div>

